<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>-->

    <link rel="stylesheet" href="/__PUBLIC__/static/layui/css/layui.css">
    <link href="/__PUBLIC__/static/styles/index.css" rel="stylesheet">

<!--    <link rel="stylesheet/less" href="/__PUBLIC__/static/css/index.less">-->
<!--    <script src="https://cdn.bootcss.com/less.js/3.9.0/less.js"></script>-->
    <title>Xiaoqingb Blog</title>
</head>
<body>
<div id="nav-header-bg">
    <div id="nav-header-container">
        <ul class="layui-nav" id="nav-header" lay-filter="">
            <div id="nav-header-left">
                    <li class="layui-nav-item">
                            <a href="">xiaoqingb Blog<span class="layui-badge-dot"></span></a>
                        </li>
            </div>

            <div id="nav-header-right">
<!--                <li class="layui-nav-item">-->
<!--                    <a href="">个人中心<span class="layui-badge-dot"></span></a>-->
<!--                </li>-->
                <li class="layui-nav-item">
                    <a href="" id="user-name">
                    </a>
                    <dl class="layui-nav-child login" >
                        <dd><a href="setting.html">个人信息</a></dd>
                        <dd><a href="javascript:;" id="logout-btn">登出</a></dd>
                    </dl>
                </li>
            </div>
        </ul>
    </div>
</div>
<div id="page-middle">

    <div id="pg-left">
        <div id="left-container">
            <div class="layui-carousel" id="carousel">
                <div id="carousel-frame" carousel-item>
                </div>
            </div>
            <div id="recommend-container">
                <h2>置顶推荐</h2>
                <ul id="recommend-settop">

                </ul>
            </div>
            <div id="newest-account">
                <h2>最新用户</h2>
                <ul id="user-list">
                </ul>
            </div>
            <div id="article-list">
                <h2>最新文章</h2>
                <div class="article-list-container">
                    
                </div>

            </div>
        </div>
    </div>
    <div id="pg-right">
        <div id="right-container">
            <div class="right-top">
                <div class="layui-form" id="search-frame" action="">
                    <input type="text" id="search-content" name="title"  lay-verify="required" placeholder="搜索" autocomplete="off"
                           class="layui-input">
                    <i class="layui-icon layui-icon-search" id="search-btn" ></i>
                </div>
                <div id="num-msg">
                    <ul>
                        <li><p id="article-count"></p>文章数</li>
                        <li><p id="member-count"></p>会员总数</li>
                        <li><p id="reply-count"></p>评论总数</li>
                    </ul>
                </div>
                <div id="contribute">
                    <p id="submit-for-publication">欢迎打赏投稿</p>
                    <button id="contribute-btn">投稿</button>
                    <button id="reward-btn">打赏</button>
                </div>
            </div>
            <div id="right-middle">
                <p>热门标签</p>
                <div id="label-container">
                    <span class="link-label">Linux</span>
                    <span class="link-label">PHP</span>
                    <span class="link-label">Python</span>
                    <span class="link-label">TP5</span>
                    <span class="link-label">javascript</span>
                    <span class="link-label">C++</span>
                </div>
            </div>
            <div class="right-bottom">
                <p>热门推荐</p>
                <div class="recommend-container">

                </div>
            </div>
            <div class="right-bottom-extra">
                <p>友情链接</p>
                <div class="link-container">
                    <div class="link-item">
                        <a href="">图标库</a>
                        <a href="">图标库</a>
                        <a href="">图标库</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div id="page-member-msg"></div>
<div id="page-footer">
    <p class="copy-right">
        Copyright© 2019-2020
        <span class="pipe">|</span>
        <a class="banquan" target="" href="">粤ICP备19152346号</a>
        <span class="pipe">|</span>
        <a href="http://www.miitbeian.gov.cn/" target="_blank"></a>
        <span class="pipe">|</span>
        <a href="" target="_blank">Wechat:xiaoqingbbbb</a>
        </span>
    </p>
</div>
<script src="/__PUBLIC__/static/layui/layui.js"></script>
<script type="text/javascript" src="/__PUBLIC__/static/js/wangEditor.js"></script>


<script src="/__PUBLIC__/static/js/bundle.js"></script>
</body>

</html>
    