<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>

    <link rel="stylesheet" href="/__PUBLIC__/static/layui/css/layui.css">
    <link rel="stylesheet/less" href="/__PUBLIC__/static/css/index.less">
    <script src="https://cdn.bootcss.com/less.js/3.9.0/less.js"></script>
    <title>个人信息</title>
</head>
<body>
<div id="nav-header-bg">
    <div id="nav-header-container">
        <ul class="layui-nav" id="nav-header" lay-filter="">
            <div id="nav-header-left">
            </div>

            <div id="nav-header-right">
                <li class="layui-nav-item">
                    <a href="index">主页<span class="layui-badge-dot"></span></a>
                </li>
                <li class="layui-nav-item">
                    <a href="" id="user-name">
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="setting.html">个人信息</a></dd>
                        <dd><a href="javascript:;">登出</a></dd>
                    </dl>
                </li>
            </div>
        </ul>
    </div>
</div>

<div id="page-middle">
    <div id="setting-frame">
        <ul class="layui-nav layui-nav-tree" lay-filter="test" id="left-nav">
            <li class="layui-nav-item layui-this"><a id="basic-setting-btn" href="javascript:;">基本设置</a></li>
            <li class="layui-nav-item"><a id="my-comment" href="javascript:;">我的评论</a></li>
            <li class="layui-nav-item"><a id="comment-to-me" href="javascript:;">评论我的</a></li>
            <li class="layui-nav-item"><a id="my-article" href="javascript:;">我的内容</a></li>
        </ul>
        <div class="right-setting-frame">
            <div class="layui-tab layui-show" id="base-setting">
                <ul class="layui-tab-title tab-title">
                    <li class="layui-this">基本信息</li>
                    <li>修改头像</li>
                    <li>修改密码</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show " >
                        <div class="layui-form layui-form-pane" >
                            <div class="layui-form-item">
                                <label class="layui-form-label">昵称</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="nick-name"   class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">邮箱</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="email"   class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">QQ</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="user-qq"  class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">城市</label>
                                <div class="layui-input-inline">
                                    <input type="text"  id="user-home"   class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">签名</label>
                                <div class="layui-input-block">
                                    <textarea id="desc" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">

                                    <button class="layui-btn"  id="btn-1">确认修改</button>

                            </div>
                        </div>
                    </div>
                    <div class="layui-tab-item">
                        <div id="pic-frame">
                            <img id="user-head" src="" alt="">
                        </div>
                            <button class="layui-btn layui-btn-sm"  id="upload_img">
                                <i class="layui-icon">&#xe67c;</i>上传图片
                            </button>
                            <span>建议尺寸200*200，支持JPG,PNG,GIF,最大不能超过5MB.</span>
                            <input type="hidden" name="img" value="">
                        <div class="layui-form-item">
                                <button class="layui-btn" id="btn-2">确认修改</button>
                        </div>
                    </div>
                    <div class="layui-tab-item layui-form-pane">
                        <div class="layui-form-item">
                            <label class="layui-form-label">旧密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="old-password" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">新密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="new-password" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">重复密码</label>
                            <div class="layui-input-inline">
                                <input type="password" id="comfirm-password"  class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" id="btn-3">确认修改</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="page-member-msg"></div>
<div id="page-footer">
    <p class="copy-right">
        Copyright© 2019-2020
        <span class="pipe">|</span>
        <a class="banquan" target="" href="">Powered by xiaoqingb</a>
        <span class="pipe">|</span>
        <a href="http://www.miitbeian.gov.cn/" target="_blank"></a>
        <span class="pipe">|</span>
        <a href="" target="_blank">Wechat:xiaoqingbbbb</a>
        </span>
    </p>
</div>
<script src="/__PUBLIC__/static/layui/layui.js"></script>
<script type="text/javascript" src="/__PUBLIC__/static/js/wangEditor.js"></script>
<script>
    $(window).on("load",()=>{
        $.ajax({
            url: "/__PUBLIC__/index/member/getName",
            type: "get",
            success:  (response)=>{
                response = JSON.parse(response);
                // 获取失败则跳转dao登录页面
                if (response.code !== "0000") {
                    location.href = "login.html";
                    return;
                }
                // 获取成功则输出昵称
                $("#user-name").html(response.msg);

                $.ajax({
                    url:'/__PUBLIC__/index/member/get_basic_msg',
                    type:'get',
                    success:function (response) {
                        response=JSON.parse(response);
                        console.log(response);
                        $('#nick-name').val(response.msg[0]['username']);
                        $('#email').val(response.msg[0]['usermail']);
                        $('#user-home').val(response.msg[0]['userhome']);
                        $('#user-qq').val(response.msg[0]['userqq']);
                        $('#user-head').attr('src',response.msg[0]['userhead']);
                        $('#desc').val(response.msg[0]['description']);
                    }
                })
                layui.use(['layer', 'form', 'upload','element', 'jquery'], function () {
                    let layer = layui.layer
                        , form = layui.form
                        , element = layui.element
                        , $ = layui.jquery;
                    var upload = layui.upload;
                    //执行实例
                    var uploadInst = upload.render({
                        elem: '#upload_img' //绑定元素
                        ,url: '/__PUBLIC__/index/Member/upload_file' //上传接口
                        ,accept:'images'
                        ,done: function(response){
                            //上传完毕回调
                            $('#user-head').attr('src',response.msg);
                            console.log(response.msg)
                        }
                        ,error: function(response){
                            //请求异常回调
                        }
                    });
                });
            }
        });
    })

    $('#comment-to-me').click(function () {
        location.href='comment_to_me'
    })
    $('#my-comment').click(function () {
        location.href='my_comment'
    })
    $('#my-article').click(function () {
        location.href='my-article'
    })
    $('#btn-1').click(function(){
        // console.log($('#nick-name').val(),$('#desc').val(),$('#user-qq').val(),$('#user-home').val())
        $.ajax({
            url:'/blog/public/index/Member/change_basic_msg',
            type:'post',
            data:{
                nickName:$('#nick-name').val(),
                email:$('#email').val(),
                userQq:$('#user-qq').val(),
                userHome:$('#user-home').val(),
                description:$('#desc').val(),
            },
            success:function (response) {
                response=JSON.parse(response);
                layer.msg(response.msg);
            }
        })
    });
    $('#btn-2').click(function(){
        // url
    })
    $('#btn-3').click(function () {
        if (!$('#new-password').val()){
            layer.msg('密码不能为空');
            return;
        }
        console.log($('#comfirm-password').val(),$('#new-password').val())
        if ( $('#comfirm-password').val()!==$('#new-password').val()){
            layer.msg('两次密码不一致');
            return;
        }
        $.ajax({
            url:'/blog/public/index/Member/change_password',
            type:'post',
            data:{
                oldPassword:$('#old-password').val(),
                newPassword:$('#new-password').val(),
            },
            success:function (response) {
                response=JSON.parse(response);
                layer.msg(response.msg);
                console.log(response.msg)
            }
        })
    });

</script>
</body>
</html>
